<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">Prototyping</span></p>
    <p>Benodigde tool(s): <span class="info">Knutselspullen, Word</span></p>
    <p>Ingeleverde document(en): <span class="info">Prototype.docx</span></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/7369/assignments/104290?module_item_id=284765" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samenvattig: <br />
      <span class="info summary">
        Genereer ideeën voor een apparaat of applicatie met een knop. Ga op zoek naar verschillende verschijningsvormen
        van knoppen (druk, draai, schakelaar, schuif, voice etc.). Bestudeer de vormgeving en beschrijf voor- en
        nadelen. Denk na over het nut van de actie die aan de knop is gekoppeld. <br /> <br />

        Zet je ideeën om naar een concept voor een apparaat of applicatie. Bedenk verschillende variaties. Maak fysieke
        schetsen (twee- of driedimensionaal) en werk deze digitaal uit. Blijf itereren en haal regelmatig feedback bij
        docent en medestudenten.<br /><br />

        Zet je product tekeningen om in een prototype. Werk met papier, karton, schaar, mes,
        lijm, tape, hout, foam board of 3D software als SketchUp, Cinema 4D, Blender, 123D etc.


      </span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h1>Wat is het probleem?</h1>
        <p class="info">
          Ik wil graag een spel maken voor zeer jonge kinderen of kinderen die een slechte motoriek hebben /
          gehandicapt zijn. Het is voor deze kinderen vaak lastig om games te kunnen spelen, omdat de meeste games
          meerdere inputs tegelijk willen. Ook moeten kinderen dan knoppencombinaties onthouden en in een snelle tijd
          uit kunnen voeren.
        </p>
        <mat-divider></mat-divider>
        <h1>Hoe wil ik dit probleem oplossen?</h1>
        <p class="info">
          Ik wil een game gaan maken die het mogelijk maakt om een simpel maar vermakelijk spel te kunnen spelen
          waarbij de gebruiker niet meer dan 1 knop nodig heeft om het te spelen. Deze game wil ik op basis van het
          bestaande spel “Hill climb racing” gaan maken. In dit spel is het mogelijk om met een auto levels te halen
          door niet op de kop te vliegen en niet zonder benzine te zitten. In dit spel is het alleen mogelijk om gas te
          geven of te remmen (het spel is 2D).
        </p>
        <mat-divider></mat-divider>
        <h1>Feedback van leerlingen</h1>
        <h3>Angelo</h3>
        <p class="info">
          Hoe groot is deze knop? Kan iemand met een slechte motoriek deze knop wel vasthouden? Angelo geeft als tip om
          bijvoorbeeld een klemmetje op de schuif te maken waardoor de persoon zichzelf vast kan houden.
        </p>
        <h3>Rick & Jelle</h3>
        <p class="info">
          Vinden het alle twee een vet idee. Ze kennen het spel maar niet met een fysieke knop. Het leek ze inderdaad
          handig voor kinderen met een slechtere motoriek.
        </p>
        <h3>Kyle & Janneke</h3>
        <p class="info">
          Zo’n ringetje zoals Angelo als tip gaf is inderdaad fijn. Het is een goed plan omdat er voor kinderen met een
          beperking weinig markt is. Janneke merkt op dat het wel zo moet zijn dat er weinig kracht voor nodig is,
          omdat mensen met een beperking vaak ook weinig kracht hebben.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>
          Mijn handelen vond ik goed. Ik ben als eerst na gaan denken welk probleem ik op zou willen lossen, en ben
          vanaf die gedachten verder gaan werken.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display:flex;">
          <a href="https://fhict.instructure.com/courses/7369/assignments/104290/submissions/14537?download=758957"
            target="about:blank">
            <img src="../../assets/prototyping/concept.png" alt="Image" title="Klik om te downloaden">
          </a>
          <a href="https://fhict.instructure.com/courses/7369/assignments/104290/submissions/14537?download=758957"
            target="about:blank">
            <img src="../../assets/prototyping/uitwerking.png" alt="Image" title="Klik om te downloaden">
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
