<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">A day in the life</span></p>
    <p>Benodigde tool(s): <span class="info">Telefoon, OpenShot</span></p>
    <p>Ingeleverde document(en): <span class="info">YouTube video</span></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/6649/pages/opdrachten-week-2?module_item_id=247851" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samevatting: <br />
      <span class="info">Bezoek het centrum van de stad en maak met je telefoon een vlog waarin je zo veel mogelijk
        technieken, producten en trends uit de brainstorm van vorige week verzameld en hier dan ook gelijk je mening
        over geeft. Daarna edit je deze video's en zet deze video op YouTube
      </span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <h1>Filmen</h1>
        <p class="info">
          Bij deze opdracht moesten wij ons 's ochtends melden bij het station in Tilburg. Vanaf daar zijn we in
          groepen door de stad gaan lopen. Tijdens het lopen moesten we met onze telefoon een vlog maken op basis van
          de gebrainstormde informatie van vorige week. Tijdens het vloggen moesten we ook praten en onze mening geven
          over de dingen die we filmden.
        </p>
        <mat-divider></mat-divider>
        <h1>Monteren</h1>
        <p class="info">
          Na het filmen in de stad moesten we weer naar school komen. Op school moesten we de geschoten filmpjes op
          onze laptops zetten en deze bewerken in een tool die we zelf wilden. Zelf heb ik OpenShot gebruikt.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>
          Het filmen ging best prima, we hebben een hoop gezien. Wel kwam ik er achter dat ik dacht dat ik een stuk
          meer materiaal had dan dat ik uiteindelijk kon gebruiken tijdens het monteren. Ook heb ik voornamelijk
          gemonteerd en niet heel veel geedit.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <a href="images/a-day-in-the-life/editting.png" target="about:blank">
          <img src="../../assets/a-day-in-the-life/editting.png" alt="Editting" title="Editting" class="assignment">
        </a>
        <iframe src="https://www.youtube.com/embed/xkl4_aiwupc" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen="" width="640" height="385"></iframe>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
