<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">We are the robots</span></p>
    <p>Benodigde tool(s): <span class="info">Chrome</span></p>
    <p>Ingeleverde document(en): <a href="https://console.dialogflow.com/api-client/demo/embedded/e643f89c-2eab-49bf-a3ea-31edbe507ba5"
        target="about:blank" class="info">URL</a></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/6649/pages/opdrachten-week-4?module_item_id=247857" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samevatting: <br />
      <span class="info summary">In deze les verken je een nieuwe manier van gebruikersinteractie: de conversational
        interface. Je leert werken met DialogFlow, om vervolgens een chatbot te voeden met kennis.
      </span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h1>De opdracht</h1>
        <p class="info">
          In deze les gingen we een chatbot maken. Ik ben begonnen met het bedenken van een karakter. Dit karakter is
          uiteindelijk Donald Trump geworden. Wanneer deze keuze was gemaakt ben ik onderzoek gaan doen naar de teksten
          en uitspraken die hij veel gebruikt en heb me erg verdiept in zijn manier van spreken. Toen ben ik een lijst
          gaan maken in Word welke vragen ik wil kunnen beantwoorden die de gebruiker eventueel kan invullen. Ik heb
          toen de chatbot laten testen door medeleerlingen en heb op basis hiervan de bot verbeterd.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>De manier van werken ging goed. De volgorde van onderzoek doen, vragen bedenken, het systeem maken en daarna
          verbeteren beviel me. Dit is niet AI, maar dit is wel het principe er van, trial & error.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <iframe src="https://console.dialogflow.com/api-client/demo/embedded/e643f89c-2eab-49bf-a3ea-31edbe507ba5"
          height="400"></iframe>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
