<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">User experience</span></p>
    <p>Benodigde tool(s): <span class="info">PowerPoint, Word</span></p>
    <p>Ingeleverde document(en): <span class="info">Week 6</span></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/6649/pages/opdrachten-week-6?module_item_id=247863" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samevatting: <br />
      <span class="info summary">In deze les leer je de opstelling op het P1-event zo optimaal mogelijk af te stemmen
        op de
        gebruikerservaring. Docent en studenten verkennen het thema User Experience. Per projectgroep probeer je
        antwoord te krijgen op de vragen.
      </span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h1>Presentatie</h1>
        <p class="info">
          We hadden een aantal vragen die we moesten beantwoorden. Deze vragen waren:
        </p>
        <ol class="info">
          <li>
            Wat is User Experience (UX)
          </li>
          <li>
            Wat is het verschil tussen User Experience, User Interface en Graphic Design
          </li>
          <li>
            Wat is een scenario, storyboard en prototype
          </li>
        </ol>
        <p class="info">
          Deze vragen hebben we beantwoord en in een PowerPoint presentatie gezet
        </p>
        <mat-divider></mat-divider>
        <h1>Scenario</h1>
        <p class="info">
          Omdat deze opdracht ook grotendeels draait om de proftaak, moesten we een scenario bedenken die te maken had
          met onze opdracht voor proftaak. Ons scenario was:
        </p>
        <p>
          We wachten voor de deur. Wanneer een persoon aan komt geven we die persoon een bandje en vullen
          beide handen (met bijvoorbeeld koffie en boodschappen tassen). <br />De persoon opent de deur
          met het
          gekregen bandje en levert deze hierna in.
        </p>
        <mat-divider></mat-divider>
        <h1>Storyboard</h1>
        <p class="info">
          Een storyboard is een scenario die uitgewerkt is op een soort stripboek manier. Het zijn plaatjes met
          daaronder kleine stukjes tekst die op een beeldende manier het scenario uitleggen. Dit storyboard heb ik
          samen met mijn proftaakgroepje gemaakt.
        </p>
        <mat-divider></mat-divider>
        <h1>Prototype</h1>
        <p class="info">
          Op basis van het eerder gemaakte Storyboard maken we een prototype van onze proftaak opdracht. Dit is een
          deur gemaakt van piepschuim waar de robot in verwerkt zal worden. Om de sfeer gezelliger en "huiselijker" te
          maken bootsen we ook een huiskamer na door plantjes en foto's te plaatsen. Op deze manier proberen we een
          gezellige maar toch professionele presentatie te geven.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>We hebben echt als een team gewerkt en ook in een stappenplan. Hierdoor was het duidelijk, overzichtelijk en
          was er weinig tot geen tijdsverlies. Het eindproduct (prototype) ziet er goed uit en is bruikbaar voor de
          presentatie.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display:flex;">
          <a href="https://fhict.instructure.com/courses/6649/assignments/93344/submissions/14537?download=726749"
            target="about:blank">
            <img src="../../assets/user-experience/storyboard.png" alt="Image" title="Klik om te downloaden" class="assignment">
          </a>
          <a href="https://fhict.instructure.com/courses/6649/assignments/93344/submissions/14537?download=726749"
            target="about:blank">
            <img src="../../assets/user-experience/storyboard.png" alt="Image" title="Klik om te downloaden" class="assignment">
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
