<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">Portfolio</span></p>
    <p>Benodigde tool(s): <span class="info">VS Code, Chrome, Word</span></p>
    <p>Ingeleverde document(en): <span class="info">Website + FeedPulse</span></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/6649/pages/opdrachten-week-7?module_item_id=247866" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samevatting: <br />
      <span class="info summary">Je leert informatie presenteren in een zelf vormgegeven interactieve omgeving. Deze
        week maak
        je een begin met het ontwerpen van een online portfolio. Verzamel inspiratie- en referentiemateriaal. Bekijk
        portfolio’s van alumni, influencers, media designers en toonaangevende bedrijven. Plaats de voorbeelden in een
        document en benoem kort wat je er goed of niet goed aan vindt.
      </span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h1>De opdracht</h1>
        <p class="info">
          Deze opdracht gaat over het maken van een online portfolio. In dit portfolio verwerken we alle
          eerder gemaakte opdrachten, met daarbij een reflectie. Als eerst ben ik gaan zoeken naar inspiratie
          voor een online portfolio. Deze ben ik online gaan googlen en heb ik genoteerd wat ik de pro's en
          cons vond van de website. Op basis van deze punten heb ik een goed idee hoe een fijn online
          portfolio er uit ziet. Ik merkte dat ik me er aan irriteerde als alle pagina's er anders uit zien
          en als er (veel) animaties op de pagina gebruikt worden. <br />
          Daarna heb ik een aantal schetsen gemaakt met potloot en papier hoe ik de layout van mijn website
          wil hebben. Tijdens het maken van deze layout heb ik nagedacht over duidelijkheid, locatie van
          informatie, verschillende schermmaten en niet over-de-top design. <br />
          Als laatst ben ik de website gaan maken. Omdat ik al ervaring heb met HTML en CSS ging dit vrij
          gemakkelijk. Ik heb op basis van mijn gemaakte design de website opgebouwd. Ook heb ik de website
          'responsive' gemaakt voor telefoons.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>Tijdens het maken van dit portfolio heb ik eerst onderzoek gedaan naar al bestaande portfolio’s. Dit is een
          skill die je veel gebruikt bij media design en software development. Het bekijken van andersmans werk en hier
          de tips en tops uit halen zorgen er voor dat je eigen eindproduct een stuk beter kan worden. Dit heb ik ook
          gemerkt bij het maken van mijn website. Ik kwam er achter dat ik animaties hinderlijk vind en dat ik het
          fijner vind als een website een beetje simpel is.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display:flex;">
          <a href="https://fhict.instructure.com/courses/6649/assignments/93345/submissions/14537?download=740540"
            target="about:blank">
            <img src="../../assets/portfolio/inspiratie.png" alt="Image" title="Klik om te downloaden" class="assignment">
          </a>
          <a href="https://fhict.instructure.com/courses/6649/assignments/93345/submissions/14537?download=740540"
            target="about:blank">
            <img src="../../assets/portfolio/schetsen.png" alt="Image" title="Klik om te downloaden" class="assignment">
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
