<div class="center">
  <div class="glitch" data-text="Media portfolio">
    <span class="glitch__color glitch__color--red">Media portfolio</span>
    <span class="glitch__color glitch__color--blue">Media portfolio</span>
    <span class="glitch__color glitch__color--green">Media portfolio</span>
    <span class="glitch__main">Media portfolio</span>
    <span class="glitch__line glitch__line--first"></span>
    <span class="glitch__line glitch__line--second"></span>
  </div>
</div>
<div class="ding">
</div>
