<!-- <nav mat-tab-nav-bar color="primary">
  <a mat-tab-link routerLink="projects/bigdata" [active]="isActive('/projects/bigdata')">
    Big data
  </a>
  <a mat-tab-link routerLink="projects/wearetherobots" [active]="isActive('/projects/wearetherobots')">
    We are the robots
  </a>
  <a mat-tab-link routerLink="projects/userexperience" [active]="isActive('/projects/userexperience')">
    User experience
  </a>
  <a mat-tab-link routerLink="projects/portfolio" [active]="isActive('/projects/portfolio')">
    Portfolio
  </a>
</nav> -->

<nav mat-tab-nav-bar style="width: 100%;">
  <button mat-mini-fab color="primary" size="small" (click)="toggleSideNav()" *ngIf="sidenavService.getSidenav() !== null">
    <mat-icon>
      {{getIcon()}}
    </mat-icon>
  </button>
  <mat-tab-group style="width: 98%;" [selectedIndex]="selectedIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/home" routerLinkActive="isActive('/projects/home')">
          Home
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/me" routerLinkActive="isActive('/projects/me')">
          Ik
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/digitalfootprint" routerLinkActive="isActive('/projects/digitalfootprint')">
          Digital Footprint
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/adayinthelife" routerLinkActive="isActive('/projects/adayinthelife')">
          A day in the life
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/nologo" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="c-tabs__link--active">
          No logo
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/bigdata" routerLinkActive="mat-tab-label-active">
          Big data
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/wearetherobots" routerLinkActive="isActive('/projects/wearetherobots')">
          We are the robots
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/userexperience" routerLinkActive="isActive('/projects/userexperience')">
          User experience
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/portfolio" routerLinkActive="isActive('/projects/portfolio')">
          Portfolio
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/frankenstein" routerLinkActive="isActive('/projects/frankenstein')">
          Frankenstein
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/prototyping" routerLinkActive="isActive('/projects/prototyping')">
          Prototyping
        </a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a mat-tab-link routerLink="/projects/gamerealisation" routerLinkActive="isActive('/projects/gamerealisation')">
          Game realisation
        </a>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</nav>
