<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <div style="text-align: center;">
      <img src="../../assets/me.jpg" alt="Avatar" class="avatar">
    </div>
    <p>Naam: <span class="info">Siebren Kraak</span></p>
    <p>Leeftijd: <span class="info">20</span></p>
    <p>Woonplaats: <span class="info">Tilburg</span></p>
    <p>Lievelings eten: <span class="info">Pizza</span></p>
    <p>Lievelings kleur: <span class="info">Blauw</span></p>
    <p>Geinig feitje: <span class="info">Ik ben kleurenblind :(</span></p>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 10px;">
    <h1>Over mij</h1>
    <p class="info">Ik ben Siebren, 20 jaar en kom uit Tilburg. Ik ben geboren in Zuid-Holland maar ben toen ik 9
      was verhuist naar Brabant. Met mijn vader en broertje woon ik in Utrecht.</p>
    <p class="info">Eén van mijn grootste hobbies is programmeren. Ik ben begonnen met programmeren toen ik ongeveer 9
      jaar oud was. Ik begon met het werken in de programmeertaal
      VB.NET. Hier in maakte ik zogenaamde "Fake logins" waarin de ingevoerde gegevens naar mijn mail
      verstuurd werden. Daarna ben ik me meer gaan verdiepen in het openmaken van al bestaande Fake
      logins (van bijvoorbeeld YouTube)
      en deze reverse engineeren.
    </p>
    <p class="info">Ik heb de opleiding applicatie ontwikkeling afgerond samen met Janneke en Martijn (websites van hen
      kan je vinden op <a (click)="onOpenEasteregg()" class="info fake-hyperlink"> http://localhost</a>)
      op het Radius College in Breda. Op deze opleiding heb ik voornamelijk C# gebruikt. Daarna ben ik de
      opleiding ICT gaan volgen op het Fontys College in Tilburg. </p>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
