<mat-sidenav-container style="height: 93vh;">
  <mat-sidenav mode="side" #sidenav class="side-nav">
    <p>Naam: <span class="info">Digital footprint</span></p>
    <p>Benodigde tool(s): <span class="info">Word, Chrome</span></p>
    <p>Ingeleverde document(en): <span class="info">Janneke.pdf, inspiraties.pdf</span></p>
    <p>URL: <a href="https://fhict.instructure.com/courses/6649/pages/opdrachten-week-1?module_item_id=247848" target="about:blank"
        class="info">Canvas</a></p>
    <p>Samevatting: <br />
      <span class="info summary">Verzamel informatie over één van je klasgenoten. Noteer deze informatie in een
        document.
        Verzamel daarna voorbeelden van gevonden technieken, producten en trends en breng deze informatie samen in een
        document.</span>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion class="info-panel">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            De opdracht
          </mat-panel-title>
          <mat-panel-description>
            Uitleg over wat de opdracht inhield en hoe deze is uitgevoerd
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <h1>Digital footprint</h1>
        <p class="info">
          Bij deze opdracht moesten we een klasgenoot kiezen en van deze persoon zo veel mogelijk informatie vinden. Ik
          heb als persoon Janneke van Veltom gekozen. Het doel van deze opdracht is om te leren hoe je goed informatie
          opzoekt op het internet, en daarna deze informatie verwerkt. Ik ben begonnen door de naam van Janneke te
          googlen. Via de links die ik hier had gevonden ben ik verder gaan zoeken naar informatie over haar. Ik kwam
          er achter dat Janneke best veel goed afgeschermd had. Gelukkig maakte organisaties waar ze bij zat wel fouten
          met het afschermen, en kon hierdoor een hoop informatie vinden.
        </p>
        <mat-divider></mat-divider>
        <h1>Inspiratie verzamelen</h1>
        <p class="info">
          Bij deze opdracht moesten we inspiratie zoeken voor bijvoorbeeld technieken, producten en trends. Als tip
          kregen we om deze website te gebruiken. De gevonden informatie moesten we netjes verwerken.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Reflectie
          </mat-panel-title>
          <mat-panel-description>
            Mijn eigen reflectie op de opdracht
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>Dit was mijn aller eerste les media en had er andere verwachtingen van. Het vak media op mijn oude school
          was voornamelijk het ontwikkelen van websites. Bij deze lessen ben je echt vooral bezig met design. Dit
          bevalt me wel. Verder heb ik goed door kunnen werken aan de opdrachten en heb hier ook plezier in gehad. Wel
          merkte ik dat ik vrij snel klaar was.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="info-header">
          <mat-panel-title>
            Media en bestanden
          </mat-panel-title>
          <mat-panel-description>Download hier de bijbehorende bestanden</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display:flex;">
          <a href="https://fhict.instructure.com/courses/6649/assignments/93339/submissions/14537?download=725611"
            target="about:blank">
            <img src="../../assets/digital-footprint/janneke.png" alt="Janneke van Veltom" title="Klik om te downloaden"
              class="assignment">
          </a>
          <a href="https://fhict.instructure.com/courses/6649/assignments/93339/submissions/14537?download=725612"
            target="about:blank">
            <img src="../../assets/digital-footprint/inspiraties.png" alt="Inspiraties" title="Klik om te downloaden"
              class="assignment">
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
